@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1605164222615'); /* IE9 */
  src: url('iconfont.eot?t=1605164222615#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKgAAsAAAAABjwAAAJUAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApIXAE2AiQDCAsGAAQgBYRtBy8bgQUR1YtTsr8lN2XgFmDeFwsmy3ECNd40CY3w+Kwv9PXds4VJpKFm/SktFwNX0mMiqNbIntt9ApBviULoiVSEj0Iun6h4Lg9CkQQS+o42d4DuUi4kVjSZsM805t3zsI9zxWyKWrKIgxskmQZA6dmfDBM8HQaYWq+Xvnz7lUhWAGSgYmcxqqbAonQVDBlxOG0CBTIfKMe1N03qAuriQApwrEWRFUnkDWMXuITjBGoNmhcbyd6jRjJrXCAu23MnjHJeWWaJaqGyZmkWt/VVFynKrfD78fdiRKEisUoO8uZp879rp6QvtfMJfCCg1RVImEcmjtZG94MnGC2pjfaMsq/C4Iey9PVirxrB/jorvx70Q+498dyxAhRwW121oHPU9UQL9395rcs80skPe/G8g+o1vv2k3s99lF/MAVB+knQMHASvs2jTj6YDvnyhpfzkfnZQvQdb8Cd4PRuyLrB0RVZ5ta2FljOU1apFCdjZ6vtYZcdpk6Faxwh7lYEUSbVxYqbOo0KdBVSqtoxac7ZX12lzBTyRF7OuAoRmr1Bo9AFJs8/ETP2GCp3+o1JzeKh13GnLOpOB2Umhs9INL2+017pix6CTqHBJ5l6cJSsI6VuSzgYw8sNiYkEVyRwzuoeJVRlZ6hITcBoVRY2N1Bld1U9Vm1kQcN2b/GtdwgQKnZVueHmjvdYV++11Uvr8ksy9OEtLXY1zS9LZ3jHywx7EhbTqVXcvr3QPE6systQlJmAQFUWNTf2gjK7qpyPCzSywm3Ffqb++vPy6HVALlqpw7D4JsSZVAAAA') format('woff2'),
  url('iconfont.woff?t=1605164222615') format('woff'),
  url('iconfont.ttf?t=1605164222615') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1605164222615#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
  content: "\e602";
}

